body {
  margin: 0;
  background-color: #202731;
  color: white;
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.6;
  word-wrap: break-word;
}

.header {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  background-color: #202731;
  height: 100px;
}

.invert {
  filter: invert(1);
}

.wrapper {
  background: url("./images/background_made_using_haikei.svg") no-repeat;
  background-size: cover;
  background-clip: border-box;
  z-index: -3;
}

.sub_heading {
  background-color: #7e5fff;
  height: 100px;
}

.call_button {
  animation: buttonAnimation 1s ease-in-out;
}

@keyframes buttonAnimation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.first_letter {
  color: #8538f7;
  font-size: 2rem;
  font-weight: bolder;
}

.mid_quote {
  background-color: #e6fffd;
  min-height: 320px;
  color: #7c64ff;
}

.photo {
  max-width: 48%;
  max-height: 48%;
}

.text_box {
  max-width: 48%;
  height: auto;
}

.founder_text_box {
  max-width: 48%;
}

@media (max-width: 750px) {
  .container {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .header {
    height: 200px;
    padding: 0;
    margin: 0;
    position: static !important;
  }
  .photo {
    padding: 0 !important;
    min-width: 100% !important;
  }
  .text_box {
    min-width: 100%;
  }
}

@media (min-width: 750px) and (max-width: 1240px) {
  .photo {
    height: 100%;
  }
}
