body {
  margin: 0;
  background-color: #202731;
  color: white;
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.6;
  word-wrap: break-word;
 
}

.header{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  background-color: #202731;
  height: 100px;
}

.invert {
  filter: invert(1);
}


.wrapper {
    background: url("layered-peaks-haikei.svg") no-repeat;
    background-size: cover;
    background-clip: border-box;
    z-index: -3;
}

.sub_heading{
    background-color: #7e5fff;
    height: 100px;    
}

.first_letter{
    color: #8538f7;
    font-size: 2rem;
    font-weight: bolder;
}

.mid_quote{
    background-color: #E6FFFD;
    min-height: 320px;
    color: #7c64ff;
}


.photo {
  max-width: 572px;
  width: 100%;
  height: auto;
}

@media (max-width: 572px) {

  .container{
    padding-left: 10px !important;
    padding-right: 10px !important;
    }
  .header{
    height: 200px;
    padding: 0;
    margin: 0;
    position: static !important
  }
  .photo{
    padding: 0 !important;
  }
}